body{
  margin:0px;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.mainContainer > main{
  height: 100%;
  overflow-y: scroll;
}

.mainContainer > Footer{
  padding: 10px;
}


